<div class="page-header" style="border: none">
  <h3>Listar Itens Colaborador - Quantidade</h3>
  <hr/>
</div>

<%= grid(@bem_colaboradores_grid) do |g|
    g.column name: 'Item', assoc: [:bem, :insumo], attribute: 'descricao' do |task|
      task.bem.try(:insumo).try(:descricao)
  end
    g.column name: 'Colaborador', assoc: :colaborador, attribute: 'nome' do |task|
    task.colaborador.try(:nome)
  end
    g.column name: 'Quantidade', attribute: 'quantidade' do |task|
    task.quantidade
  end
    g.column do |task|
    btn = link_to_show(task)
    btn << link_to_edit(edit_bem_colaborador_path(task))
    btn << link_to_delete(task)
    btn
    content_tag :div, btn, class: 'btn-group', role:'group'
  end
end -%>
<%= link_to " Incluir", new_bem_colaborador_path, class: "btn btn-primary btn-sm", data: { tooltip: true, placement: 'top', animation: true }, title: 'Novo registro' %>
