<div class="page-header">
  <h3><%= I18n.t('.title', default: [:'helpers.titles.new'], model: @bem_colaborador.class.model_name.human) %></h3>
</div>
<%= render 'form', bem_colaborador: @bem_colaborador %>
