<div class="page-header">
  <h3><%= I18n.t('.title', default: [:'helpers.titles.new'], model: @usuarios_mobile.class.model_name.human) %></h3>
</div>
<%= render 'form', usuarios_mobile: @usuarios_mobile %>
