<div class="page-header">
  <h3><%= I18n.t('.title', default: [:'helpers.titles.new'], model: @estado_conservacao.class.model_name.human) %></h3>
</div>
<%= render 'form', estado_conservacao: @estado_conservacao %>
