<div class="page-header">
  <h3><%= I18n.t('.title', :default => [:'helpers.titles.edit'], :model => @grupo_insumo.class.model_name.human) %></h3>
</div>
<%= render 'form', grupo_insumo: @grupo_insumo %>