<div class="page-header">
  <h3><%= I18n.t('.title', default: [:'helpers.titles.new'], model: @prazo_locacao.class.model_name.human) %></h3>
</div>
<%= render 'form', prazo_locacao: @prazo_locacao %>
