<%- model_class = MaterialLocado -%>
<div class="page-header" style="border: none">
  <h3><%=  I18n.t('activerecord.models.material_locado') %></h3>
  <hr/>
  <%= link_to "Novo", new_material_locado_path, class: 'btn btn-primary' %>
</div>
<%= render partial: 'grid' %>
