<div class="page-header">
  <h3><%= I18n.t('.title', default: [:'helpers.titles.new'], model: @material_locado.class.model_name.human) %></h3>
</div>
<%= render 'form', material_locado: @material_locado %>
